<table>
  <thead>Listing attractions</thead>
  <tbody>
    <tr>
      <td><strong>Picture</strong></td>
      <td><strong>Name</strong></td>
      <td><strong>Tickets</strong></td>
      <td><strong>Details</strong></td>
    <% @attractions.each do |att| %>
      <tr>
        <td></td>
        <td><%= att.name %></td>
        <td><%= att.tickets %></td>
        <% if current_user.admin %>
          <td><%= link_to "Show #{att.name}", attraction_path(att) %></td>
        <% else %>
          <td><%= link_to "Go on #{att.name}", attraction_path(att) %></td>
        <% end %>
      <tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>